.main-header {
  width: 100%;
  background: $black;
  padding: $s-size;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

}

.main-nav__items {
  margin: 0;
  padding: 0;
  background: $grey;
  list-style: none;
  display: flex;

  .main-nav__item {
    margin: 0 0 0 $s-size;
  }

  .main-nav__item-link {
    text-decoration: none;
    color: $white;
    font-size: $font-size-medium;
    font-weight: bold;
  }
}

.main-footer {
  display: flex;
  justify-content: center;
  background-color: $black;
  font-size: $font-size-large;

  .main-footer__title {
    color: $white;
  }
}
